FEIClient/Connected Services/FEIService/Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ViewStudentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCareer" type="xs:int" />
      <xs:element minOccurs="0" name="idStudent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTutor" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewStudentInfo" nillable="true" type="tns:ViewStudentInfo" />
</xs:schema>