FEIClient/Connected Services/FEIService/Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ViewStudentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="careerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCareer" type="xs:int" />
      <xs:element minOccurs="0" name="idStudent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTutor" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tutorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewStudentInfo" nillable="true" type="tns:ViewStudentInfo" />
  <xs:complexType name="ArrayOfTutor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tutor" nillable="true" type="tns:Tutor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTutor" nillable="true" type="tns:ArrayOfTutor" />
  <xs:complexType name="Tutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTutor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tutor" nillable="true" type="tns:Tutor" />
  <xs:complexType name="ArrayOfCareer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Career" nillable="true" type="tns:Career" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCareer" nillable="true" type="tns:ArrayOfCareer" />
  <xs:complexType name="Career">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCareer" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Career" nillable="true" type="tns:Career" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCareer" type="xs:int" />
      <xs:element minOccurs="0" name="idStudent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTutor" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="tns:Appointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="tns:ArrayOfAppointment" />
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="attendedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="duration" type="xs:int" />
      <xs:element minOccurs="0" name="idAppointment" type="xs:int" />
      <xs:element minOccurs="0" name="notAttendedReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="procedure_IdProcedure" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="student_IdStudent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
  <xs:complexType name="ArrayOfViewStudentsQueueReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewStudentsQueueReport" nillable="true" type="tns:ViewStudentsQueueReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewStudentsQueueReport" nillable="true" type="tns:ArrayOfViewStudentsQueueReport" />
  <xs:complexType name="ViewStudentsQueueReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="attendedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idAppointment" type="xs:int" />
      <xs:element minOccurs="0" name="idStudent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="studentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewStudentsQueueReport" nillable="true" type="tns:ViewStudentsQueueReport" />
  <xs:complexType name="ArrayOfViewAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewAppointment" nillable="true" type="tns:ViewAppointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewAppointment" nillable="true" type="tns:ArrayOfViewAppointment" />
  <xs:complexType name="ViewAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="attendedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="duration" type="xs:int" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAppointment" type="xs:int" />
      <xs:element minOccurs="0" name="idProcedure" type="xs:int" />
      <xs:element minOccurs="0" name="idStudent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTutor" type="xs:int" />
      <xs:element minOccurs="0" name="procedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="tutorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewAppointment" nillable="true" type="tns:ViewAppointment" />
  <xs:complexType name="ArrayOfProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Procedure" nillable="true" type="tns:Procedure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcedure" nillable="true" type="tns:ArrayOfProcedure" />
  <xs:complexType name="Procedure">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProcedure" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Procedure" nillable="true" type="tns:Procedure" />
</xs:schema>